<div class="chatbox-component-container">
  <div class="chatbot-button" (click)="toggleChatbox()" (mouseenter)="showPopup()" (mouseleave)="hidePopup()">
    <img src="https://client.peopleask.io:8089/chatbot.png.svg" alt="chatbot" class="chatbot-button-icon"
      *ngIf="!isChatboxActive" />
    <img src="https://client.peopleask.io:8089/chatbox-close-big.svg" alt="close" class="chatbot-close-icon-big"
      *ngIf="isChatboxActive" />
  </div>

  <div class="chatbot-popup-container" *ngIf="!isChatboxActive">
    <div class="chatbot-popup">
      <div class="chatbot-popup-content">
        <img src="https://client.peopleask.io:8089/question-mark.svg" alt="chatbot" class="chatbot-popup-icon" />
        Une question ? Besoin d’aide ?
      </div>
    </div>
  </div>

  <div *ngIf="isChatboxActive" [ngClass]="isExtended ? 'chatbox-extended' : 'chatbox'">
    <div class="chatbox-header">
      <div class="chatbot-header-content ">
        <div class="chatbot-icon-container">
          <img src="https://client.peopleask.io:8089/chatbot.png.svg" alt="chatbot" class="chatbot-icon" />
        </div>
        <div class="chatbot-header-text">PeopleASK</div>
      </div>
      <div class="chatbox-header-buttons-container ">
        <div class="chatbox-button" (click)="toggleExtended()">
          <img src="https://client.peopleask.io:8089/chatbox-expand.svg" alt="expand" class="chatbox-expand-icon"
            *ngIf="!isExtended" />
          <img src="https://client.peopleask.io:8089/chatbox-contract.svg" alt="contract" class="chatbox-expand-icon"
            *ngIf="isExtended" />
        </div>
        <div class="chatbox-button" (click)="toggleChatbox()">
          <img src="https://client.peopleask.io:8089/chatbox-close.svg" alt="close" class="chatbox-collapse-icon" />
        </div>
      </div>
    </div>
    <div class="chatbox-body">
      <div class="chatbox-scroll" (click)="scrollChatToBottom()" *ngIf="!isScrolledToBottom">
        <img src="https://client.peopleask.io:8089/chatbox-scroll.svg" alt="scroll" class="chatbox-scroll-icon" />
      </div>
      <div class="chatbox-messages-container" id="chat-body" (scroll)="onScroll()" *ngIf="isServerAvailable !== 1">
        <div class="chatbox-loading-status-container">
        <div *ngIf="isServerAvailable === 2" class="chatbox-loading-status-container">

          <div class="chatbot-unavailable">
            Serveur en maintenance. Réessayez plus tard.
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="145" height="150" viewBox="0 0 145 150" style="
          width: 95px;
          height: 74px;
      ">
            <defs>
              <path id="gear" d="M26.6,12.9l-2.9-0.3c-0.2-0.7-0.5-1.4-0.8-2l1.8-2.3c0.2-0.2,0.1-0.5,0-0.7l-2.2-2.2c-0.2-0.2-0.5-0.2-0.7,0 l-2.3,1.8c-0.6-0.4-1.3-0.6-2-0.8l-0.3-2.9C17,3.2,16.8,3,16.6,3h-3.1c-0.3,0-0.5,0.2-0.5,0.4l-0.3,2.9c-0.7,0.2-1.4,0.5-2,0.8 L8.3,5.4c-0.2-0.2-0.5-0.1-0.7,0L5.4,7.6c-0.2,0.2-0.2,0.5,0,0.7l1.8,2.3c-0.4,0.6-0.6,1.3-0.8,2l-2.9,0.3C3.2,13,3,13.2,3,13.4v3.1 c0,0.3,0.2,0.5,0.4,0.5l2.9,0.3c0.2,0.7,0.5,1.4,0.8,2l-1.8,2.3c-0.2,0.2-0.1,0.5,0,0.7l2.2,2.2c0.2,0.2,0.5,0.2,0.7,0l2.3-1.8 c0.6,0.4,1.3,0.6,2,0.8l0.3,2.9c0,0.3,0.2,0.4,0.5,0.4h3.1c0.3,0,0.5-0.2,0.5-0.4l0.3-2.9c0.7-0.2,1.4-0.5,2-0.8l2.3,1.8 c0.2,0.2,0.5,0.1,0.7,0l2.2-2.2c0.2-0.2,0.2-0.5,0-0.7l-1.8-2.3c0.4-0.6,0.6-1.3,0.8-2l2.9-0.3c0.3,0,0.4-0.2,0.4-0.5v-3.1 C27,13.2,26.8,13,26.6,12.9z M15,19c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4C19,17.2,17.2,19,15,19z"/>
            </defs>

            <g fill="#bebec5">
              <!-- Big gear (center) -->
              <use href="#gear" transform="translate(45,0) scale(3)"/>

              <!-- Medium gear (left and down 60 degrees) -->
              <use href="#gear" transform="translate(0,50) scale(2.3333)"/>

              <!-- Small gear (right and down 60 degrees) -->
              <use href="#gear" transform="translate(118,50) scale(1.6333)"/>
            </g>
          </svg>
        </div>
        <div class="chatbox-loading-server" *ngIf="isServerAvailable === 0">
          <span class="typing-span">
            <div class="chatbot-generating-stage">
              <div class="chatbot-generating-animation"></div>
            </div>
          </span>
        </div>
      </div>
    </div>
      <div class="chatbox-messages-container" id="chat-body" (scroll)="onScroll()" *ngIf="isServerAvailable === 1">

        <div class="chatbox-loading-history" >
          <span class="typing-span" *ngIf="isLoadingHistory">
            <div class="chatbot-generating-stage">
              <div class="chatbot-generating-animation"></div>
            </div>
          </span>
        </div>
        <div *ngFor="let chat of DisplayedChatList, let last=last" class="chatbox-message">
          <div class="chatbox-user-message" *ngIf="chat.sender != null">
            <img
              [src]="memberInfos && memberInfos.memberPortal && memberInfos.memberPortal.imageUrl && memberInfos.memberPortal.imageUrl.medium ?  memberInfos.memberPortal.imageUrl.medium : defaultprofilepicture"
              alt="Profile" class="chatbox-user-image">
            <div class="chatbox-user-text">{{chat.message}}</div>
          </div>
          <div class="chatbox-bot-message" *ngIf="chat.text != null ">
            <div class="chatbot-icon-container-small">
              <img src="https://client.peopleask.io:8089/chatbot.png.svg" alt="chatbot" class="chatbot-icon-small" />
            </div>
            <div class="chatbox-bot-text">
              {{chat.text}}
              <span class="typing-span" *ngIf="botTypingAnimation && last">
                <div class="chatbot-generating-stage">
                  <div class="chatbot-generating-animation"></div>
                </div>
              </span>
            </div>
          </div>
        </div>


      </div>
      <div class="chatbox-footer">
        <input class="chatbox-input" type="text" placeholder="Saisir" #chatInput [(ngModel)]="chatInputValue"
          (keyup.enter)="SendMessage()" />
        <div class="chatbot-send-button" (click)="SendMessage()">
          <img src="https://client.peopleask.io:8089/chatbot-send.svg" alt="send" class="chatbot-send-icon " />
        </div>

      </div>
    </div>
  </div>
</div>
